<ul>
    <li class="midlaner">MacBook Pro - Apple</li>
    <li class="midlaner">iPhone 13 Pro - Apple</li>
    <li class="toplaner">Bose S1 Pro</li>
    <li class="toplaner">Google Glass</li>
    <li class="midlaner">Samsung Gear Vr</li>
</ul>