body .first {
        margin: auto;
        width: 60%;
        padding: 10px;
}

body .second {
        margin: auto;
        width: 60%;
        padding: 10px;
}

body .third {
        margin: auto;
        width: 60%;
        padding: 10px;
}